@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&display=swap");
:root {
  --background-main: white;
  --color-main: black;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --color-primary: rgb(255, 188, 65);
}
.dark {
  --background-main: rgb(3, 3, 3);
  --color-main: rgb(236, 236, 236);
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/* Reseting html */
html {
  font-family: "Poppins", Arial, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
  font-size: 1.6rem;
  background-color: var(--background-main);
  color: var(--color-main);
}
